<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:replace="layout :: header"></head>
	
	<body>
	
	<nav th:replace="layout :: navbar"></nav>
	<br><br><br>
	<!--  Add New Book Button -->
			<a th:href="@{/kitap/new}"
				class="btn btn-primary btn-sm mb-3"> 
				Add Book 
			</a> 
			<a th:href="@{/kitap/{kitapId}}"
				class="btn btn-primary btn-sm mb-3"> 
				Delete Book 
			</a> 
			<br><br>
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Book Name: </th>
						<th>Book Subtitle: </th>
						<th>Book Serial Title: </th>
						<th>Author Id: </th>
						<th>Publishing House Id: </th>
						<th>ISBN No: </th>
						<th>Description: </th>
					</tr>
				</thead>		
				<tbody>
					<tr th:each="aBook : ${books}">
						<td th:text="${aBook.kitapAdi}"/>
						<td th:text="${aBook.kitapAltAdi}"/>
						<td th:text="${aBook.kitapSeriAdi}"/>
						<td th:text="${aBook.yazarId}"/>
						<td th:text="${aBook.yayýneviId}"/>
						<td th:text="${aBook.isbnNo}"/>
						<td th:text="${aBook.aciklama}"/>
					</tr>
				</tbody>
			
			</table>		
	</body>
	</html>