<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:replace="layout :: header"></head>
	
	<body>
	<nav th:replace="layout :: navbar"></nav>	
	<div class="container">
		<div>
			<h1>Register Screen</h1>
		</div>
		<div>
			<form th:action="@{/process_register}" method="POST" th:object="${user}">
				<div class="mb-3">
					<div class="form-group row">
						<div class="col-8">
							<input type="text" class="form-control" th:field="*{first_name}" placeholder="First Name"
								required/>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-8">
							<input type="text" class="form-control" th:field="*{last_name}" placeholder="Last Name"
								required/>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-8">
							<input type="email" class="form-control" th:field="*{email}" placeholder="Email"
								required minLength="6" maxLength="25"/>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-8">
							<input type="password" class="form-control" th:field="*{password}" placeholder="Password"
								required minLength="6" maxLength="10"/>
						</div>
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Sign Up</button>
					</div>
				</div>			
			</form>
		</div>
	</div>
	</body>
	</html>