<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:replace="layout :: header"></head>
	
	<body>
	
	<nav th:replace="layout :: navbar"></nav>
	<br>
	<div class="container">
	<!--  Add New Publishing House Button -->
			<a th:href="@{/publisher/new}"
				class="btn btn-primary btn-sm mb-3"> 
				Add Publishing House 
			</a>
			<a th:href="@{/publisher/new}"
				class="btn btn-primary btn-sm mb-3"> 
				Delete Publishing House 
			</a> 
			<br></br>
	
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Publishing House Name: </th>
						<th>Description: </th>
					</tr>
				</thead>		
				<tbody>
					<tr th:each="aYayinevi : ${yayineviList}">
						<td th:text="${aYayinevi.yayineviAdi}"/>
						<td th:text="${aYayinevi.aciklama}"/>
					</tr>
				</tbody>
			
			</table>	
	</div>
	</body>
	</html>