<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:replace="layout :: header"></head>
	
	<body>
	
	<nav th:replace="layout :: navbar"></nav>
	<br><br><br>
	<div class="container">
			<form action="/publisher/save" th:object="${yayinevi}" method="POST">
			  <div class="mb-3">
			   <!--   <label for="exampleInputEmail1" class="form-label">Book Name:</label> -->
			    <input type="text" class="form-control" id="yayineviAdi" placeholder="Publisher Home Name:" th:field="${yayinevi.yayineviAdi}">
			   </div>
			  <div class="mb-3">
			    <input type="text" class="form-control" id="yayineviAciklama" placeholder="Publisher Home Description: " th:field="${yayinevi.aciklama}">
			  </div>
			  <button type="submit" class="btn btn-primary">Ekle</button>
			</form>
	</div>
	
	</body>
	</html>